{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Rifat | Home{% endblock %}


{% block content %}
{% for blog in blogs %}

<h3>{{ blog.blog_title }}</h3>
<h6><i>{{ blog.publish_date }}</i></h6>
<div class="row">
     <div class="col-sm-4">
         <img src="/media/{{ blog.blog_image }}" alt="{{ blog.blog_title }}" title="{{ blog.blog_title }}" width = "100%">


     </div>


     <div class="col-sm-8">
         <p>{{ blog.blog_content|range_filter|linebreaks }} <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}" class="btn btn-warning btn-sm">Read More</a></p>
         <h6>Posted By <a href = "{% url 'App_Login:profile' %}">@{{ blog.author }}</a></h6>
         <h6>{{ blog.liked_blog.count }} Like | {{ blog.blog_comment.count }} Comment{{ blog.blog_comment.count|pluralize }}</h6>



     </div>



</div>
<hr size = "3" noshade>



{% endfor %}

{% endblock %}